annotated-types==0.7.0
black==25.1.0
chispa==0.10.1
click==8.1.8
colorama==0.4.6
dill==0.3.9
e==1.4.5
exceptiongroup==1.2.2
iniconfig==2.0.0
multiprocess==0.70.17
mypy-extensions==1.0.0
packaging==24.2
pandas-stubs==2.2.3.241126
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
prettytable==3.14.0
py4j==0.10.9.7
pyarrow==19.0.1
pydantic==2.10.6
pydantic_core==2.27.2
pyspark==3.5.0
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
ruff==0.9.7
six==1.17.0
tomli==2.2.1
types-pytz==2025.1.0.20250204
typing_extensions==4.12.2
tzdata==2025.1
wcwidth==0.2.13
